@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@layer base {
	html {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	body {
		@apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors font-sans;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@theme {
	--color-primary-50: #f2f7ff;
	--color-primary-100: #e6efff;
	--color-primary-200: #c5d8ff;
	--color-primary-300: #9fbaff;
	--color-primary-400: #6c8fff;
	--color-primary-500: #3f6bff;
	--color-primary-600: #2f56e6;
	--color-primary-700: #2544b4;
	--color-primary-800: #1e3790;
	--color-primary-900: #192d74;
	--color-primary-950: #111d49;
	--color-secondary-400: #22d3ee;
	--color-secondary-500: #06b6d4;

	--font-sans: var(--font-geist-sans), system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,
		Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	--font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}

@layer utilities {
	.text-gradient {
		@apply bg-linear-to-r from-primary-600 to-primary-800 bg-clip-text text-transparent 
      dark:from-cyan-400   dark:to-purple-400;
	}

	.glass {
		@apply backdrop-blur-md bg-white/80 dark:bg-gray-900/80 border border-white/20 dark:border-gray-700/40 shadow-lg;
	}
}

@layer components {
	.text-hover {
		@apply text-gray-700 dark:text-gray-100 hover:text-primary-600 dark:hover:text-cyan-400 transition-colors;
	}
	.text-default {
		@apply text-gray-700 dark:text-gray-100;
	}
	.text-secondary {
		@apply text-gray-700 dark:text-gray-300;
	}
	.text-heading {
		@apply text-gray-900 dark:text-white;
	}
	.bg-hover {
		@apply hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors;
	}
	.bg-default {
		@apply bg-gray-100 dark:bg-gray-800;
	}
	.bg-secondary {
		@apply bg-gray-50 dark:bg-gray-900;
	}
	.btn {
		@apply inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2;
	}

	.btn-primary {
		@apply bg-linear-to-r from-primary-600 to-primary-800 text-white 
        hover:opacity-90
		focus:outline-none
        focus:ring-primary-500 
		border-none
        dark:bg-linear-to-r dark:from-cyan-400 dark:to-purple-400 
        dark:text-gray-900 dark:hover:opacity-90 
        dark:focus:ring-purple-400
        dark:focus:ring-offset-gray-900 cursor-pointer;
	}

	.btn-secondary {
		@apply bg-transparent text-primary-600 border border-primary-600 
        hover:bg-linear-to-r from-primary-600 to-primary-800 hover:text-white 
        focus:ring-primary-500 
        dark:text-cyan-400 dark:border-cyan-400 
        dark:hover:bg-linear-to-r dark:hover:from-cyan-400 dark:hover:to-purple-400 
		dark:hover:border-transparent
        dark:hover:text-gray-900 
        dark:focus:ring-purple-400
        dark:focus:ring-offset-gray-900;
	}

	.section {
		@apply pt-24 lg:pt-26 pb-16;
	}

	.container-default {
		@apply container mx-auto px-4 lg:px-8;
	}

	.container-custom {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
	}

	.card {
		@apply bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 transition-all duration-300 hover:shadow-xl;
	}
	.card-secondary {
		@apply bg-gray-50 dark:bg-gray-900 rounded-lg shadow-lg p-6 transition-all duration-300 hover:shadow-xl;
	}
}
